.card {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2px;

    padding: 7px 10px;

    background-color: transparent;
    border: none;
    box-shadow: none;

    font-family: 'Open Sans', sans-serif;
    color: #cfc0c5;

    user-select: none;
}

.card_row{
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.card_id{
    flex-shrink: 0;
    font-size: 0.7rem;
}

.card_title{
    flex: 1;
    font-size: 0.9rem;
    font-weight: 700;
    overflow-wrap: anywhere;
}

.card_price{
    flex-shrink: 0;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
}

.card_description{
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;
    overflow-wrap: anywhere;
}
