.flippable-card-container{
    width: 100%;
    margin-bottom: 8px;

    border: 2px solid #060515;
    border-radius: 5px;
    overflow: hidden;

    background-color: rgb(143 16 23 / 50%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
