.accordion-button{
    background-color: #9a9392 !important;
    border: 1px black solid !important;
}
.accordion-collapse{
    border: 1px black solid !important;
}
.section{   
    width: 90vw;
    margin: 0px 10px 10px 10px;
}
.section_item{
    border-bottom: 1px;
    border: 1px black solid !important;
}
.accordion-button{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700;
    color: #8b2c34 !important;   
    font-size: 1.2rem !important;
}
.accordion-button:not(.collapsed) {
    color: #8b2c34 !important;
}
.section_body{
    background-color: #9a9392;
    padding: 10px !important;
}
.section_body div{
    font-family: 'Open Sans', sans-serif;
    color: #8b2c34;
}
.section_card{
    margin: 0px 1px 10px 1px;
    padding: 5px;
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 50px repeat(6, 6fr);
    grid-template-rows: repeat(7, 7fr);
    background-color: #9a9392;
    border-radius: 7px;
    border: 1px solid black;
}
.section_card_title{
    grid-column: 1 / 8;
    grid-row: 1 / 5;
    justify-self: start;
    align-self: center;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.3rem;
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 5px;
}
.section_card_image{
    grid-column: 1 /2;
    grid-row: 1 / 8;
    justify-self: center;
    align-self: center;
    border: 1px solid black;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
.section_card_description{
    grid-column: 1 / 6;
    grid-row: 6 / 8;
    justify-self: start;
    align-self: center;
    height: 100%;
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 5px;
}
.section_card_price{
    grid-column: 5 / 8;
    grid-row: 5 / 8;
    justify-self: flex-end;
    align-self: center;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 5px;
}
.accordion-item {
    background-color: #8b2c34 !important;
}
.accordion-button {
    box-shadow: none !important;
}