html, body {
    background-color: #312d2d;
}

.App {
    align-items: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    ::-webkit-scrollbar {
        display: none;
      }
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.seccion{
    margin: 0 25px 25px 25px;
}

@font-face {
    font-family: "The Last Shuriken";  
    src: url("../public/TheLastShuriken/TheLastShuriken-Regular.woff") format('woff'),
        url("../public/TheLastShuriken/TheLastShuriken-Regular.woff2") format('woff2'),
        url("../public/TheLastShuriken/TheLastShuriken-Regular.ttf") format('truetype'),
        url("../public/TheLastShuriken/TheLastShuriken-Regular.eot") format('eot');
  }